.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
posts/20221222901_tiled_for_dummies/images/.DS_Store
posts/2023022001_amoeben_1/.DS_Store
posts/2023022001_amoeben_1/images/.DS_Store
posts/2023022601_aquarium_trinket/.DS_Store
posts/2023022601_aquarium_trinket/images/.DS_Store
posts/2023022701_turtle_trinket/.DS_Store
posts/2023022701_turtle_trinket/images/.DS_Store
posts/2023030101_mediadaten_februar_2023/.DS_Store
posts/2023030101_mediadaten_februar_2023/images/.DS_Store
