/*-- scss:defaults --*/

/*-- Define colors --*/
$mybgcode: #eeeeee;
$mycodecol: #009991;

// Code block background
$code-block-bg: $mybgcode;
// Background color of inline code
$code-bg: $mybgcode;
// Color of inline Code
$code-color: $mycodecol;

/*-- scss:rules --*/

div.sourceCode {
  font-size: 0.8em;
}