/*-- scss:defaults --*/

ul, ol {
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

/*-- Define colors --*/
$mybgcode: #eeeeee;
$mycodecol: #009991;

// Code block background
$code-block-bg: $mybgcode;
// Background color of inline code
$code-bg: $mybgcode;
// Color of inline Code
$code-color: $mycodecol;

/*-- scss:rules --*/

div.sourceCode {
  font-size: 0.8em;
}

iframe.if16_9  {
  aspect-ratio: 16/9;
    width: 75%;
}

iframe.if4_3 {
  aspect-ratio: 4/3;
    width: 75%;
}